* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #0B2434;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background: #F5F5F5;
    width: 320px;
    height: 320px;
    border-radius: 10px; 
}