* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    font-family: Poppins, sans-serif;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    margin-bottom: 26px; 
}

.nav--logo {
    max-width: 100px;
}

section {
    padding: 0 36px;
}

.hero {
    display: flex;
    flex-direction: column;
}
.hero > img {
    width: 396px;
    align-self: center;
}

.hero--header {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 16px; 
}

.hero--text {
    width: 320px;
    font-weight: 300;
}