* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    color: white;
    margin: 0;
}

header {
    height: 65px;
    background: linear-gradient(to right, #672280, #A626D3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 20px;
}

.header--logo {
    width: 179px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo--trollface {
    width: 31px;
}

.logo--text {
    font-size: 1.31rem;
    font-weight: 700;
    letter-spacing: -0.1em; 
}

.header--text {
    font-family: "Inter", sans-serif;
}